{% comment %} {% extends 'index.html' %}

{% block content %} {% endcomment %}

<!-- <Section class="container-fluid  h-100" style="margin-top: 200px; margin-bottom: 50px; ">
    <div class="container ">

        <div class="container d-flex justify-content-center aboutimg">

            <div id="carouselExampleInterval" class="carousel slide carousel-fade position-relative"
                data-bs-ride="carousel" style="height: 570px; width: 600px; border-radius: 500px;">
                <div class="carousel-inner position-inherit">
                    <div class="carousel-item active" data-bs-interval="2000">
                        <img src="/static/images/bgabout1.jpg" alt=""
                            style="height: 570px; width: 600px; border-radius: 270px;">
                    </div>

                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="/static/images/bgabout2.jpg" alt=""
                            style="height: 570px; width: 600px; border-radius: 270px;">
                    </div>

                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="/static/images/bgabout4.jpg" alt=""
                            style="height: 570px; width: 600px; border-radius: 270px;">
                    </div>

                    <div class="col position-absolute mt-5 me-5"
                        style="background-color: rgb(138, 101, 101, 0.8); margin-left: 47px; border-radius: 270px; height: 470px; width: 500px; z-index: 1;">
                        <div class="text pt-5 mx-3">
                            <h1 class="mt-5 pt-5">We aim to provide only fresh vegetables.</h1>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</Section> -->



<section class="container-fluid  mb-5" style="margin-top: 200px;">
    <div class="container">
        <div class=" col-lg-12 d-flex justify-content-center"  style=" border-radius: 10px; background-color: #A1C084;">
            <div class="row">
                <div class="col-lg-6 textpart"  style="border-radius: 10px; background-color: #A1C084;">

                    <div id="carouselExampleInterval" class="carousel slide carousel-fade mt-3 ms-lg-4"
                        data-bs-ride="carousel" style="width: 600px; border-radius: 500px;">
                        <!-- <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div> -->

                        <div class="carousel-inner ">
                            <div class="carousel-item active" data-bs-interval="3000">
                                <h3 style="text-align: center; margin-top: 170px;">
                                    In search for Organic Veggies?
                                </h3>
                                <p style="text-align: center;">We are here for you!!</p>
                            </div>

                            <div class="carousel-item" data-bs-interval="3000">
                                <h3 style="text-align: center; margin-top: 170px;">
                                    HELLWWWW
                                </h3>
                                <p style="text-align: center;">We are here for you!!</p>
                            </div>

                            <div class="carousel-item" data-bs-interval="3000">
                                <h3 style="text-align: center; margin-top: 170px;">
                                    WHO EW
                                </h3>
                                <p style="text-align: center;">We are here for you!!</p>
                            </div>
                        </div>
                        <!-- <div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div> -->
                    </div>
                </div>

                <div class="col-lg-6 imgbg ">
                    <div id="carouselExampleInterval" class="carousel slide carousel-fade ms-lg-5"
                        data-bs-ride="carousel" style="border-radius: 500px;">
                        <div class="carousel-inner ">
                            <div class="carousel-item active" data-bs-interval="2000">
                                <img src="/static/images/bgabout1.jpg" alt="" 
                                    style="height: 500px; border-radius: 10px;">
                            </div>

                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="/static/images/bgabout2.jpg" alt=""
                                    style="height: 500px; border-radius: 10px;">
                            </div>

                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="/static/images/bgabout4.jpg" alt=""
                                    style="height: 500px;  border-radius: 10px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% comment %} {% endblock %} {% endcomment %}