

<section class="container-fluid  mb-5" style="margin-top: 200px;">
    <div class="container ">
        <div class=" col-lg-12 d-flex justify-content-center"  style=" border-radius: 10px; background-color: #A1C084;  box-shadow: 0px 17px 13px -11px rgba(30, 30, 60, 0.45);">
            <div class="row">
                <div class="col-lg-6 textpart "  style="border-radius: 10px; background-color: #A1C084;">

                    <div id="carouselExampleInterval" class="carousel slide carousel-fade mt-3 ms-lg-4"
                        data-bs-ride="carousel" style="width: 600px; border-radius: 500px;">
                        <div class="carousel-inner ">
                            <div class="carousel-item active" data-bs-interval="3000">
                                <h3 style="text-align: center; margin-top: 170px;">
                                    We offer organic products that help agricultural workers, their families, and customers avoid hazardous and chronic chemical exposure.
                                </h3>
                                <p style="text-align: center;">We are here for you!!</p>
                            </div>

                            <div class="carousel-item" data-bs-interval="3000">
                                <h3 style="text-align: center; margin-top: 170px;">
                                    Organic produce contains fewer pesticides. 
                                </h3>
                                <p style="text-align: center;">We are here for you!!</p>
                            </div>

                            <div class="carousel-item" data-bs-interval="3000">
                                <h3 style="text-align: center; margin-top: 170px;">
                                    Organic farming tends to be better for the environment.
                                </h3>
                                <p style="text-align: center;">We are here for you!!</p>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="col-lg-6 imgbg ">
                    <div id="carouselExampleInterval" class="carousel slide carousel-fade ms-lg-5"
                        data-bs-ride="carousel" style="border-radius: 500px;">
                        <div class="carousel-inner ">
                            <div class="carousel-item active" data-bs-interval="2000">
                                <img src="/static/images/bgabout1.jpg" alt="" 
                                    style="height: 500px; border-radius: 10px;">
                            </div>

                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="/static/images/bgabout2.jpg" alt=""
                                    style="height: 500px; border-radius: 10px;">
                            </div>

                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="/static/images/bgabout4.jpg" alt=""
                                    style="height: 500px;  border-radius: 10px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% comment %} {% endblock %} {% endcomment %}