{% extends 'admin/base.html' %}
{% block content %}

<div class="col-md-10">
    <table class="table table-success table-striped table-hover mt-3">
        <thead>
            <tr>
                <th scope="col">Cusomer ID</th>
                <th scope="col">Profile Picture</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        
        <tbody>
            {% for user in user %}
            <tr>
                <th scope="row">{{user.customer_id}}</th>
                <td><img src="/static/media/{{user.customer_picture}}" height="80" width="80"></td>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td><a href="/" class="btn btn-warning text-light">Update</a></td>
                <td><a href="/" class="btn btn-danger text-light">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="col-3"> 
        <a href="/admin/adduser" class = "btn btn-primary text-light">Add Customer</a>
    </div>
</div>

{% endblock %}