<!-- FOOTER STARTS FROM HERE -->
<footer class="container-fluid footer-content">
    <div class="row g-0 pt-4">
        <div class="col-lg-12 d-flex justify-content-center social-icons pt-1">
            <a href="#" class="mx-sm-2"><i class="fas fa-envelope"></i></a>
            <a href="#" class="mx-sm-2"><i class="fas fa-phone-alt" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="01-4062384"></i></a>
            <a href="#" class="mx-sm-2"><i class="fab fa-twitter"></i></a>
            <a href="#" class="mx-sm-2"><i class="fab fa-facebook-f"></i></a>
        </div>
        <div class="col-lg-12 d-flex justify-content-center pt-3">
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#" class="footer-link mx-lg-2">Home</a></li>
                <li class="list-inline-item"><a href="#" class="footer-link mx-lg-2">Services</a></li>
                <li class="list-inline-item"><a href="#" class="footer-link mx-lg-2">About</a></li>
                <li class="list-inline-item"><a href="#" class="footer-link mx-lg-2">Terms</a></li>
                <li class="list-inline-item"><a href="#" class="footer-link mx-lg-2">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="col-lg-12 d-flex justify-content-center">
            <a href="/contact/" class="btn-footer px-5 py-2">Contact Us</a>
        </div>
        <div class="col-lg-12 d-flex pt-3 pb-4 justify-content-center">
            <p class="copyright">SABJI MANDI &copy; 2018</p>
        </div>
    </div>
</footer>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>


<script>
    $(function () {
        // Handler for .ready() called.       
        $('.popovers').popover();
    });
</script>