@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;800;900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}


/* .container-fluid{
}

.headN{
    margin-top: 200px;
} */

/* .categoryline img:hover{
    transform: scale(1.5);
    animation-timing-function: ease-in;
}

.imga{
    border:1px solid rgb(2, 2, 2);
    border-radius:50%;

} */

.headN{
    font-size: 900;
}

.input-field {
    /* border: 0; */
    border: 4px solid #0deba8;
    font-size: 18px;
    color: black;
    font-weight: 200;
    box-shadow: 0px 17px 13px -11px rgba(30, 30, 60, 0.45);
}

.map{
    box-shadow: 0px 17px 13px -11px rgba(30, 30, 60, 0.45);
}

.input-field:focus {
    /* border: none; */
    outline: none;
    border-bottom: 4px solid #35aad8;
}
