.card-item {
    border: none;
    background: rgb(231, 237, 245);
    border-radius: 40px 0 40px 0;
    box-shadow: 15px 15px 30px #bebebe,
        -15px -15px 30px #ffffff;    
}

/* .hello{
    border: none;
    background: rgb(231, 237, 245);
    border-radius: 40px 0 40px 0;
    box-shadow: 15px 15px 30px #bebebe,
        -15px -15px 30px #ffffff;    
    transition: transform .3s;
} 

.hello:hover{
    transform: translateY(-15px);
    transition: transform .3s;
} */


img.card-img-top {
    border-radius: 40px 0px 0px 0px;
}

