{% extends 'index.html' %}

{% block content %}


{% comment %} <section class="container-fluid " style="margin-top: 200px; margin-bottom: 50px; height: 500px;">
    <div class="container">
        <div class="container col-lg-12 d-flex justify-content-center"
            style=" height: 500px; border-radius: 10px; background-color: #A1C084;">
            <div class=" col-lg-6 textpart">

                <div id="carouselExampleInterval" class="carousel slide carousel-fade position-relative mt-3 ms-4"
                    data-bs-ride="carousel" style="height: 570px; width: 600px; border-radius: 500px;">
                    <!-- <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div> -->
                    <div class="col-lg-auto">
                        <div class="carousel-inner position-inherit">
                            <div class="carousel-item active" data-bs-interval="3000">
                                <h3 style="text-align: center; margin-top: 170px;">
                                    In search for Organic Veggies?
                                </h3>
                                <p style="text-align: center;">We are here for you!!</p>
                            </div>

                            <div class="carousel-item" data-bs-interval="3000">
                                <h3 style="text-align: center; margin-top: 170px;">
                                    HELLWWWW
                                </h3>
                                <p style="text-align: center;">We are here for you!!</p>
                            </div>

                            <div class="carousel-item" data-bs-interval="3000">
                                <h3 style="text-align: center; margin-top: 170px;">
                                    WHO EW
                                </h3>
                                <p style="text-align: center;">We are here for you!!</p>
                            </div>
                        </div>
                    </div>
                    <!-- <div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div> -->
                </div>
            </div>

            <div class="col-lg-6 imgbg">
                <div id="carouselExampleInterval" class="carousel slide carousel-fade position-relative  ms-5"
                    data-bs-ride="carousel" style="height: 570px; width: 600px; border-radius: 500px;">
                    <div class="carousel-inner position-inherit">
                        <div class="carousel-item active" data-bs-interval="2000">
                            <img src="/static/images/bgabout1.jpg" alt=""
                                style="height: 500px; width: 600px; border-radius: 10px;">
                        </div>

                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="/static/images/bgabout2.jpg" alt=""
                                style="height: 500px; width: 600px; border-radius: 10px;">
                        </div>

                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="/static/images/bgabout4.jpg" alt=""
                                style="height: 500px; width: 600px; border-radius: 10px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> {% endcomment %}

<div class = " container-fluid">
{% include 'about/about.html' %}
</div>

<section class="container-fluid  mt-5">
    <div class="container-fluid rounded">
        <div class="row mt-5">
            <div class="col-lg-12 pt-5 pb-4">
                <h3>Vegetable</h3>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 products">
                <div class="card-item ">
                    <img src="/static/images/kauli.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">cauliflower(काउली)</h4>
                        <h5 class="card-text py-5" style="text-align: center; color: crimson;"> Rs.350</h5>
                        <div class="text-center">
                            <span class="card-text cart">Add to cart</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-5 product">
                <div class="card-item">
                    <img src="/static/images/ghiraula.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">luffa(घीरौला)</h4>
                        <h5 class="card-text py-5" style="text-align: center; color: crimson;"> Rs.350</h5>
                        <div class="text-center">
                            <span class="card-text cart">Add to cart</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 product">
                <div class="card-item">
                    <img src="/static/images/ishkus.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">chayote(ईस्कुश)</h4>
                        <h5 class="card-text py-5" style="text-align: center; color: crimson;"> Rs.350</h5>
                        <div class="text-center">
                            <span class="card-text cart">Add to cart</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 pb-4 mb-5 product">
                <div class="card-item">
                    <img src="/static/images/aalu.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">potato(आलु)</h4>
                        <h5 class="card-text py-5" style="text-align: center; color: crimson;"> Rs.350</h5>
                        <div class="text-center">
                            <span class="card-text cart">Add to cart</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 pt-5 pb-4 product">
                <h3>Fruits</h3>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 product">
                <div class="card-item">
                    <img src="/static/images/grapes.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">luffa(घीरौला)</h4>
                        <h5 class="card-text py-5" style="text-align: center; color: crimson;"> Rs.350</h5>
                        <div class="text-center">
                            <span class="card-text cart">Add to cart</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 product">
                <div class="card-item">
                    <img src="/static/images/apple.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">luffa(घीरौला)</h4>
                        <h5 class="card-text py-5" style="text-align: center; color: crimson;"> Rs.350</h5>
                        <div class="text-center">
                            <span class="card-text cart">Add to cart</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 product">
                <div class="card-item">
                    <img src="/static/images/anaar.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">luffa(घीरौला)</h4>
                        <h5 class="card-text py-5" style="text-align: center; color: crimson;"> Rs.350</h5>
                        <div class="text-center">
                            <span class="card-text cart">Add to cart</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 pb-4 mb-5 product">
                <div class="card-item">
                    <img src="/static/images/pineapple.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">luffa(घीरौला)</h4>
                        <h5 class="card-text py-5" style="text-align: center; color: crimson;"> Rs.350</h5>
                        <div class="text-center">
                            <span class="card-text cart">Add to cart</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 pt-5 pb-4">
                <h3>Veg-Items</h3>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 product">
                <div class="card-item">
                    <img src="/static/images/vegetable.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">luffa(घीरौला)</h4>
                        <h5 class="card-text py-5" style="text-align: center; color: crimson;"> Rs.350</h5>
                        <div class="text-center">
                            <span class="card-text cart">Add to cart</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 product">
                <div class="card-item">
                    <img src="/static/images/vegetable.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">luffa(घीरौला)</h4>
                        <h5 class="card-text py-5" style="text-align: center; color: crimson;"> Rs.350</h5>
                        <div class="text-center">
                            <span class="card-text cart">Add to cart</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-5 product">
                <div class="card-item">
                    <img src="/static/images/vegetable.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">luffa(घीरौला)</h4>
                        <h5 class="card-text py-5" style="text-align: center; color: crimson;"> Rs.350</h5>
                        <div class="text-center">
                            <span class="card-text cart">Add to cart</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 pb-5 mb-5 product">
                <div class="card-item">
                    <img src="/static/images/vegetable.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">luffa(घीरौला)</h4>
                        <h5 class="card-text py-5" style="text-align: center; color: crimson;"> Rs.350</h5>
                        <div class="text-center">
                            <span class="card-text cart">Add to cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>

{% endblock %}