{% extends 'index.html' %}

{% block content %}

<div class = " container-fluid">
{% include 'about/about.html' %}
</div>

<section class="container-fluid  mt-5">
    <div class="container-fluid rounded">
        <div class="row mt-5">
            <div class="col-lg-12 pt-5 pb-4">
                <h3>Vegetable</h3>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 hello">
                <div class="card-item ">
                    <img src="/static/images/kurillo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">cauliflower(काउली)</h4>
                        <h5 class="card-text py-5" style="text-align: center; color: crimson;"> Rs.350</h5>
                        <div class="text-center">
                            <span class="card-text cart">Add to cart</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-5 hello">
                <div class="card-item">
                    <img src="/static/images/ghiraula.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">luffa(घीरौला)</h4>
                        <h5 class="card-text py-5" style="text-align: center; color: crimson;"> Rs.350</h5>
                        <div class="text-center">
                            <span class="card-text cart">Add to cart</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 product">
                <div class="card-item">
                    <img src="/static/images/ishkus.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">chayote(ईस्कुश)</h4>
                        <h5 class="card-text py-5" style="text-align: center; color: crimson;"> Rs.350</h5>
                        <div class="text-center">
                            <span class="card-text cart">Add to cart</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 pb-4 mb-5 product">
                <div class="card-item">
                    <img src="/static/images/aalu.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">potato(आलु)</h4>
                        <h5 class="card-text py-5" style="text-align: center; color: crimson;"> Rs.350</h5>
                        <div class="text-center">
                            <span class="card-text cart">Add to cart</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 pt-5 pb-4 product">
                <h3>Fruits</h3>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 product">
                <div class="card-item">
                    <img src="/static/images/grapes.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">luffa(घीरौला)</h4>
                        <h5 class="card-text py-5" style="text-align: center; color: crimson;"> Rs.350</h5>
                        <div class="text-center">
                            <span class="card-text cart">Add to cart</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 product">
                <div class="card-item">
                    <img src="/static/images/apple.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">luffa(घीरौला)</h4>
                        <h5 class="card-text py-5" style="text-align: center; color: crimson;"> Rs.350</h5>
                        <div class="text-center">
                            <span class="card-text cart">Add to cart</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 product">
                <div class="card-item">
                    <img src="/static/images/anaar.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">luffa(घीरौला)</h4>
                        <h5 class="card-text py-5" style="text-align: center; color: crimson;"> Rs.350</h5>
                        <div class="text-center">
                            <span class="card-text cart">Add to cart</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 pb-4 mb-5 product">
                <div class="card-item">
                    <img src="/static/images/pineapple.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">luffa(घीरौला)</h4>
                        <h5 class="card-text py-5" style="text-align: center; color: crimson;"> Rs.350</h5>
                        <div class="text-center">
                            <span class="card-text cart">Add to cart</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 pt-5 pb-4">
                <h3>Spices</h3>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 product">
                <div class="card-item">
                    <img src="/static/images/ginger.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">luffa(घीरौला)</h4>
                        <h5 class="card-text py-5" style="text-align: center; color: crimson;"> Rs.350</h5>
                        <div class="text-center">
                            <span class="card-text cart">Add to cart</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 product">
                <div class="card-item">
                    <img src="/static/images/chilly.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">luffa(घीरौला)</h4>
                        <h5 class="card-text py-5" style="text-align: center; color: crimson;"> Rs.350</h5>
                        <div class="text-center">
                            <span class="card-text cart">Add to cart</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-5 product">
                <div class="card-item">
                    <img src="/static/images/lasun.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">luffa(घीरौला)</h4>
                        <h5 class="card-text py-5" style="text-align: center; color: crimson;"> Rs.350</h5>
                        <div class="text-center">
                            <span class="card-text cart">Add to cart</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 pb-5 mb-5 product">
                <div class="card-item">
                    <img src="/static/images/onion1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">luffa(घीरौला)</h4>
                        <h5 class="card-text py-5" style="text-align: center; color: crimson;"> Rs.350</h5>
                        <div class="text-center">
                            <span class="card-text cart">Add to cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>

<div class="container-fluid">
{% include 'delivery/delivery.html' %}
</div>

{% include 'contact/contactus.html' %}

{% endblock %}