{% extends 'index.html' %}

{% block content %}

<section>
    <div class="container-fluid mt-5 pt-5">
        <div class="conntainer mt-5 pt-5">
                <table class="table table-success table-striped">
                    <thead>
                        <tr>
                            <th scope="col">no.</th>
                            <th scope="col">Product name</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Rayo saag</td>
                            <td>3 muttha</td>
                            <td>Rs.75</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Anaar</td>
                            <td>1 kg</td>
                            <td>Rs.90</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td >bodi</td>
                            <td>500g</td>
                            <td>Rs.60</td>
                        </tr>
                    </tbody>
                </table>

        </div>
    </div>
</section>

{% endblock %}