{% extends 'index.html' %}

{% block content %}

<section class="container-fluid  mt-5 pt-5">
    <div class="container-fluid rounded mt-5 pt-5">
        <div class="row mt-5">
            {% for product in products %}
            <div class="col-lg-3 col-md-6 mb-5 hello">
                <div class="card-item ">
                    <img src="/static/media/{{product.product_picture}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{product.product_name}}</h4>
                        <h5 class="card-text py-5" style="text-align: center; color: crimson;">
                            Rs.{{product.product_price}}
                        </h5>
                        <div class="text-center">
                            <a href="/buypage/{{product.product_id}}" class="btn"
                                style="height:50px; background-color:rgb(58, 155, 131);"><span class="text-light">Buy
                                    Product</span></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<nav aria-label="..." class="container pt-5">
    {% if products.has_other_pages %}
    <ul class="pagination">
        {% if products.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ products.previous_page_number }}"><i class="fa fa-angle-left"></i></a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link"><i class="fas fa-angle-left"></i></a>
        </li>
        {% endif %}

        {% for i in products.paginator.page_range %}
        {% if products.number == i %}
        <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
        {% endif %}
        {% endfor %}

        {% if products.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ products.next_page_number }}"><i class="fa fa-angle-right"></i></a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link"><i class="fas fa-angle-right"></i></a>
        </li>
        {% endif %}
    </ul>
    {% endif %}
</nav>

{% endblock %}